@model IEnumerable<SecuringApps.Models.FileModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Files</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.SelectedTask">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateUploaded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DateUploaded)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </th>
            <td>
                <a asp-controller="Comment" asp-action="Index" asp-route-id="@SecuringApps.Utility.Encryption.SymmetricEncrypt(item.Id.ToString())">Comment</a> |
                <a asp-action="Download" asp-route-id="@SecuringApps.Utility.Encryption.SymmetricEncrypt(item.Id.ToString())">Download</a>
            </td>
        </tr>
}
    </tbody>
</table>
